{% extends 'base.html' %}
{% load django_markdown %}

{% block content %}
    <div class="row">
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="post-header">
                        {% if post.topic %}
                            {{ post.topic|safe }}<br/><br/>{% elif post.main_img %}
                            <img src="{{ post.main_img.url }}" class="m-w-100"/><br/><br/>{% endif %}
                    </div>
                    <h1>{{ post.title }}</h1>
                    <p class="text-muted">
                        <small>{{ post.created }}</small>
                    </p>
                    <hr/>
                    <div>{{ post.full_content|markdown }}</div>
                </div>
            </div>
            <br>
            <div id="hypercomments_widget"></div>
            <script type="text/javascript">
                _hcwp = window._hcwp || [];
                _hcwp.push({widget: "Stream", widget_id: 86706});
                (function () {
                    if ("HC_LOAD_INIT" in window)return;
                    HC_LOAD_INIT = true;
                    var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
                    var hcc = document.createElement("script");
                    hcc.type = "text/javascript";
                    hcc.async = true;
                    hcc.src = ("https:" == document.location.protocol ? "https" : "http") + "://w.hypercomments.com/widget/hc/86706/" + lang + "/widget.js";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hcc, s.nextSibling);
                })();
            </script>
            <a href="http://hypercomments.com" class="hc-link" title="comments widget">comments powered by HyperComments</a>
        </div>
    </div>
{% endblock %}