{% block footer %}
    <footer class="footer">
        <div class="container-fluid">
            &copy; {% now "Y" %}
            <small class="hidden-sm-down">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="mailto:me@harchenko.pro" target="_blank" class="footer-link">
                    me@harchenko.pro
                </a>
            </small>
            <small>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://vk.com/vitaliyharchenko" target="_blank" class="footer-link">
                    ВКонтакте
                </a>
            </small>
            <small>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://instagram.com/vitaliyharchenko" target="_blank" class="footer-link">
                    Instagram
                </a>
            </small>
            <small class="hidden-sm-down">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="skype:vitalyharchenko?chat" class="footer-link">
                    Skype
                </a>
            </small>
            <small>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="tel:+79826469454" class="footer-link">
                    +7 (982) 646-94-54
                </a>
            </small>
            <small class="hidden-md-down">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="" class="footer-link">
                    Wish-list
                </a>
            </small>
            <small class="hidden-md-down">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://github.com/vitaliyharchenko" class="footer-link">
                    Github
                </a>
            </small>
            <small class="hidden-md-down">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="footer-link">
                    Екатеринбург, Россия
                </a>
            </small>
        </div>
    </footer>
{% endblock %}